<h1>DataBases List</h1>

<table class="table table-striped">
              <thead>
                <tr>
                  <th>db</th>
                  <th>DB Name</th>
                  <th>Project Name</th>
                  <th>DBA</th>
                </tr>
              </thead>
              <tbody>
                <tr class="success">
                  <td>1</td>
                  <td>Pixos2</td>
                  <td>Pixos2</td>
                  <td>@Joson.chen</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>ShareData5</td>
                  <td>ShareData5</td>
                  <td>@Woody.xu</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>OMB2</td>
                  <td>OnlineBooking2</td>
                  <td>@Woody.xu</td>
                </tr>
              </tbody>
            </table>